
  <div class= 'row' >
  <% unless comment.body.nil? %>
  <div class='span0 well text-center'>
    <%if logged_in? %>
    <%= link_to vote_post_comment_path(@post, comment,vote: true), method: 'post', remote: true do %>
      <i class='icon-arrow-up'></i>
    <% end %>
    <% end %>
    <br/>
    <span id='comment_<%= comment.id %>_votes'><%= comment.total_votes %> votes</span>
    <br/>
    <% if logged_in? %>
    <%= link_to vote_post_comment_path(@post, comment, vote: false), method: 'post', remote: true do %>
      <i class='icon-arrow-down'></i>
      <% end %>
      <% end %>
  </div>
    
    <div class= "well span8" >
    	<em>"<%= comment.body %></em>
    	<br/>
    	<span class='quiet'>by </span><%= comment.creator.username unless comment.creator.nil? %>
    	<small> at <%= display_datetime(comment.created_at) unless comment.created_at.nil? %></small>
    </div>
    <% end %>
  </div>
  