
<div class='row'>
  <div class='span0 well text-center'>
    <% if logged_in? %>
    <%= link_to vote_post_path(obj, vote: 'true'), method: 'post', remote: true do %>
      <i class='icon-arrow-up'></i>
    <% end %>
    <% end %>
    <br/>
    <span id='post_<%= obj.id %>_votes'><%= obj.total_votes %></span>
    <br/>
    <% if logged_in? %>
    <%= link_to vote_post_path(obj, vote: false), method: 'post', remote: true do %>
      <i class='icon-arrow-down'></i>
      <% end %>
      <% end %>
   </div>
  <div class='span8 well'>
    <%= render obj.categories %>
    <h4><%= link_to obj.title, fix_url(obj.url) %></h4>
    <p><%= obj.description %></p>
      <span class='quiet'> posted by</span>
      <%= obj.creator.username %>
      <small> at <%= display_datetime(obj.created_at) %></small>
    </p>
    <small>
      <span>
        <%= link_to("#{obj.comments.size} comments",post_path(obj)) %>
      </span>
    </small>
    </div>
</div>
