<!-- repositioning the Edit Post link to be consistent with Chris' app -->

<p class='pull-right'>
  <%= link_to 'Edit Post', edit_post_path(@post) %>
</p>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%=  @post.description %>
</p>

<p>
  <%= render 'comments/form' %>
</p>
  
  <h5>Comments:</h5>

  <% @post.comments.each do |comment| %>
    <% unless comment.body.nil? %>
    <div class= "well span8" %>
    	<em>"<%= comment.body %></em>
    	<br/>
    	<span class='quiet'>by </span><%= comment.creator.username unless comment.creator.nil? %>
    	<small> at <%= display_datetime(comment.created_at) unless comment.created_at.nil? %></small>
    </div>
    <% end %>
  <% end %>