<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%=  @post.description %>
</p>

<p>
  <%= render 'comments/form' %>
</p>
  
<li>
    <%= link_to 'Edit Post', edit_post_path(@post) %>  <!-- do not use the string '/post/new' instead always use named route -->
  </li>
<hr/>